<div class="ui-g">
  <div class="ui-md-6 ui-g-12">
    <app-chart-bar></app-chart-bar>
  </div>
  <div class="ui-md-6 ui-g-12">
    <app-chart-doughnut></app-chart-doughnut>
  </div>
  <div class="ui-md-6 ui-g-12">
    <app-chart-line></app-chart-line>
  </div>
  <div class="ui-md-6 ui-g-12">
    <app-chart-pie></app-chart-pie>
  </div>
  <div class="ui-md-6 ui-g-12">
    <app-chart-polar-area></app-chart-polar-area>
  </div>
  <div class="ui-md-6 ui-g-12">
    <app-chart-radar></app-chart-radar>
  </div>
</div>
