<h3>Drag and Drop to Table</h3>
<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-g-nopad drag-column">
    <ul style="margin:0; padding:0;">
      <li *ngFor="let car of availableCars" class="auto-card ui-helper-clearfix" pDraggable="cars"
          (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
        <i class="fa fa-arrows-alt" style="float:right;"></i>
        <img src="https://www.primefaces.org/primeng/assets/showcase/images/demo/car/{{car.brand}}.png"
             style="float:left" draggable="false" />
        <div style="margin:8px 0 0 8px;float:left">{{car.vin}} - {{car.year}}</div>
      </li>
    </ul>
  </div>
  <div class="ui-g-12 ui-md-6 drop-column" pDroppable="cars"
       (onDrop)="drop($event)" [ngClass]="{ 'ui-highlight-car': draggedCar }">
    <p-table [value]="selectedCars">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td *ngFor="let col of cols">{{car[col.field]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
