<div class="container mt-5">
  <div class="row">
    <div class="col">
      <ngb-datepicker #dp outsideDays="hidden"></ngb-datepicker>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-9 px-0">
          <input
            type="text"
            [(ngModel)]="newItem"
            (keyup.enter)="addItem(newItem); newItem = ''"
            class="form-control w-100"
          />
        </div>
        <div class="col pl-1 pr-0">
          <button (click)="addItem(newItem); newItem = ''" class="btn btn-primary w-100">Add</button>
        </div>
      </div>
      <div class="row mt-2">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Done</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td style="text-align: center;">
              <input type="checkbox" [(ngModel)]="item.done"/>
            </td>
            <td [ngSwitch]="item.done">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchDefault>No</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
