<p-treeTable
  #tt
  [value]="files"
  [columns]="cols"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="fl"
  [rowsPerPageOptions]="rowsPerPage"
  paginatorPosition="top"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText placeholder="Global Filter"
             (input)="tt.filterGlobal($event.target.value, 'contains')">
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [ttSortableColumn]="col.field">
        {{ col.header }}
        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of cols">
        <input pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)"
               class="ui-g-12" style="height: 1.5rem !important;">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="cols">
    <tr [ttSelectableRow]="rowNode">
      <td *ngFor="let col of cols; let i = index;">
        <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-treeTable>

